[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pymongo = "*"
mypy = "*"
pytest = "*"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
ipython = "*"
mongomock = "*"
types-requests = "*"
hatch = "*"
twine = "*"
pytest-cov = "*"
requests = "*"
typing-extensions = "*"
build = "*"
